{% extends 'base.html.twig' %}

{% block title %}Przychodnia{% endblock %}

{% block body %}
<body>
{% include 'site/menu.html.twig'%}
{% for label, messages in app.flashes(['success_logout']) %}
        {% for message in messages %}
                <div class="flash-{{ label }}">
                        {{ message }}
                </div>
        {% endfor %}
{% endfor %}


</body>
{% endblock %}

